body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 97%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav {
    display: flex;
    gap: 5px;
}
nav a {
    text-decoration: none;
}
nav button {
    width: auto;
    height: 55px;
    padding: 10px 20px;
    border-radius: 12px;
}
.logo {
    width: 80px;
    height: auto;
}
.logo:hover{
    width: 80px;
    height: auto;
    opacity: 80%;
}
.container {
    max-width: 400px;
    padding: 10px;
    text-align: center;
    margin-top: 90px;
}
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
button {
    width: 80%;
    padding: 10px;
    background: #1891c9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
}
button:hover {
    background: #648a91;
    color: yellow;
    font-size: medium;

}
h1{
    color: #1891c9;
    padding-bottom: 40px;
}
h2{
    color: #1891c9;
}
/* Task Form Styling */
.task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-form input {
    width: 78%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.task-form button {
    width: 14%;
    height: 60px;
    padding: 1px;
    background: #1891c9;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
}

.task-form button:hover {
    background-color: #63c0a1;
}

/* Task List Styling */

form input, form select {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
ul {
    list-style: none;
    padding: 0;
}
li.task-item {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.delete-btn {
    color: red;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}
